.leftsecond{
    display: flex;
}
.sol{
    margin:0 50px;
}
.sağ{
    margin:0 50px;
}
.left{
    width: 90px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
   
}
.left1{
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
}
.left2{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.left:hover{
    cursor: pointer;
}
.right{
    width: 90px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
   
}
.right:hover{
    cursor: pointer;
}
.leftp{
    color: rgb(173, 173, 173);
    margin-bottom: 5px;
}
input{
    font-size: 30px;
    width: 359px;
    height: 100px;
    margin-top: 30px;
    z-index: 1px;
}

.secondiv{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.obsalyute{
display:flex;
position: absolute;
bottom: 230px;
color: rgb(173, 173, 173);
font-size: 25px;
}
.bluebox{
    background-color: blue;
}
.inputradius{
border-radius: 5px;
}

.pdiv{
    margin-top: 30px;
    border: 2px solid rgba(0, 0, 0, 0.627);
    height: 102px;
    font-size: 30px;
    display: flex;
    align-items: center;
    position: relative;
}
.rsp{
    font-size: 25px;
    color: rgb(173, 173, 173);
    position: relative;
    top: 40px;
}
.leftinputp{
    position: relative;
}
.rsp2{
    font-size: 25px;
    color: rgb(173, 173, 173);
    position: relative;
   bottom: 50px;
}
.divh1{
     display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 30px;
}
